.newCard{
	display: flex;
	justify-content: center;
	align-items: center;
}

.plusSign{
	height:100px;
	width:100px;
}

.profileCard .profileText .plusSign{
	height:25px;
	width:25px;
}
