.trophy {
  float: left;
  background-image: url('Trophy.svg');
  background-size: contain;
  width: 300px;
  height: 300px;
}

.game {
  float: left;
}

.stopwatch {
  float: right;
  background-image: url('StopWatch.svg');
  background-size: contain;
  width: 300px;
  height: 300px;
}

.stopwatch-display {
  position: relative;
  margin: auto;
  top: 45%;
  font-size: 300%;
  color: #666;
  border-radius: 10%;
  border: #666 solid;
  margin: auto;
  text-align: center;
  width: 60%;
}
